<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Pawpal Adoption</title>
    <link rel="icon" href="../images/mp-ico.png" type="image/x-icon">
    <link rel='stylesheet' href='//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css' >   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link href='https://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet'>
  

</head>

<style>
  /* Common styles for all screen sizes */ 
body {
    overflow-x: hidden;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.preloader {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: #fff; /* You can customize the background color */
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 1000; /* Ensure it's above other elements */
        }

        .pet-loader {
            display: flex;
            font-size: 2em; /* Adjust the font size */
        }

        .letter {
            animation: bounce 5s ease-in-out infinite; /* Bounce animation */
            margin: 0 5px; /* Adjust the space between letters */
        }

        .zoom-out {
            animation: zoomOut 1s ease-in-out forwards; /* Zoom out animation after 5 seconds */
        }

        @keyframes bounce {
            0%, 20%, 50%, 80%, 100% {
                transform: translateY(0);
            }
            40% {
                transform: translateY(-20px);
            }
            60% {
                transform: translateY(-10px);
            }
        }

        @keyframes zoomOut {
            to {
                transform: scale(2); /* Adjust the zoom level */
            }
        }

        

.text-muted {
    color: #000000;
}

p {
    font-size: 14px;
    line-height: 1.75;
}

p.large {
    font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: 0;
    text-decoration: none; /* Remove underlines from links */
}

a {
    color: rgb(0, 0, 0);
}

/* Container for centering content */
.custom-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Navbar styles */
.navbar-default {
    border-color: transparent;
    background-color: #fff;
}

.navbar-default .navbar-brand {
    color: #000000;
}

.navbar-default .navbar-collapse {
    border-color: rgba(255, 255, 255, .02);
}

.navbar-default .navbar-toggle {
    border-color: #000000;
    background-color: #000000;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffffff;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
    background-color: #000000;
}

.navbar-default .nav li a {
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
    color: #000000;
}

.navbar-default .nav li a:hover,
.navbar-default .nav li a:focus {
    outline: 0;
    color: #ffffff;
    font-weight: bolder;
}

.navbar-default .navbar-nav>.active>a {
    border-radius: 0;
    color: #000000;
    background-color: rgb(250, 183, 154);
}

.navbar-default .navbar-nav>.active>a:hover,
.navbar-default .navbar-nav>.active>a:focus {
    color: #000000;
    background-color: rgb(250, 183, 154);
}

/* Responsive adjustments for navbar */
@media (min-width: 768px) {
    .navbar-default {
        padding: 25px 0;
        border: 0;
        background-color: transparent;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-default .navbar-brand {
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    .navbar-default .navbar-nav>.active>a {
        border-radius: 3px;
    }

    .navbar-default.navbar-shrink {
        padding: 10px 0;
        background-color: #FF8E8E;
    }

    .navbar-default.navbar-shrink .navbar-brand {
        font-size: 1.5em;
    }
}

/* Header styles */


.intro-heading {
    text-align: left;
    font-size: 90px;
    font-weight: 700;
    margin-left: 75px;
    padding-top: 60px;
    font-family: 'Montserrat';
}

@media (max-width: 768px) {  /* responsive in intro-heading */
    .intro-heading {
        font-size: 60px;
        margin-left: 55px;
        padding-top: 40px;
    }
}

.intro-subheading {
    text-align: left;
    margin-left: 83px;
    margin-top: -10px;
    margin-bottom: 20px;
}

@media (max-width: 768px) {  /* responsive in subheading */
    .intro-subheading {
         margin-left: 60px;
        margin-top: -10px;
         margin-bottom: 20px;
    }
}

.info {
    display: flex;
    align-items: center;
}

.info p {
    flex: 1;
    font-size: 20px;
    text-align: justify;
    padding-right: 10%;
    /* Adjust spacing between text and image */
    padding-left: 5%;
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
}   

@media (max-width: 768px) {  /* responsive in paragraph */
    .info p {
        font-size: 10px;
        text-align: justify;
        padding-right: 10%;
        padding-left: 5%;
        font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
}

.intro-image {
    max-width: 35%; /* Adjust the image width */
    height: auto;
    margin-top: -30px; /* Move the image upwards by 30px */
    margin-left: 20px;
    position: relative; /* Add this line to make it relative */
}

@media (max-width: 768px) { /* responsive in image beside the paragraph */
    .intro-image {
        max-width: 25%; /* Adjust the image width for smaller screens */
        height: auto;
        margin-top: -20px; /* Move the image upwards by 20px */
        margin-left: 10px;
    }
}

.intro-image img {
    max-width: 100%;
    height: auto;
    display: block;
}




    
    /* Add this CSS */
    .black-text {
        color: black;
    }

.fa-stack-2x {
    color: black;
}
.icon-circle {
    font-size: 150px; /* Adjust this value to make the icons larger or smaller */
}

    

    section {
        padding: 100px 0;
    }

    section h2.section-heading {
        margin-top: 0;
        margin-bottom: 15px;
        font-size: 40px;
    }

    section h3.section-subheading {
        margin-bottom: 75px;
        text-transform: none;
        font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 16px;
        font-style: italic;
        font-weight: 400;
    }

    @media(min-width:768px) {
        section {
            padding: 150px 0;
        }
    }

    .service-heading {
        margin: 5px 0;
        text-transform: none;
    }
    
    .team-member {
        margin-bottom: 70px;
        text-align: center;
    }

    .team-member img {
        margin: 0 auto;
        border: 7px solid #fff;
    }

    .team-member h4 {
        margin-top: 25px;
        margin-bottom: 0;
        text-transform: none;
    }

    .team-member p {
        margin-top: 0;
    }


    section#contact {
        background-color: #222;
        background-color: rgba(251, 192, 178, 1);
        background-position: center;
        background-repeat: no-repeat;
    }

    section#contact .section-heading {
        color: black;
    }

    section#contact .form-group {
        margin-bottom: 25px;
    }

    section#contact .form-group input,
    section#contact .form-group textarea {
        padding: 20px;
    }

    section#contact .form-group input.form-control {
        height: auto;
    }

    section#contact .form-group textarea.form-control {
        height: 236px;
    }

    section#contact .form-control:focus {
        border-color: #1ee2e7;
        box-shadow: none;
    }

    section#contact::-webkit-input-placeholder {
        text-transform: uppercase;
        font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 700;
        color: #bbb;
    }

    section#contact:-moz-placeholder {
        text-transform: uppercase;
        font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 700;
        color: #bbb;
    }

    section#contact::-moz-placeholder {
        text-transform: uppercase;
        font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 700;
        color: #bbb;
    }

    section#contact:-ms-input-placeholder {
        text-transform: uppercase;
        font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 700;
        color: #bbb;
    }

    section#contact .text-danger {
        color: #e74c3c;
    }

    footer {
        padding: 25px 0;
        text-align: center;
    }

    footer span.copyright {
        text-transform: uppercase;
        text-transform: none;
        font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
        line-height: 40px;
    }

    footer ul.quicklinks {
        margin-bottom: 0;
        text-transform: uppercase;
        text-transform: none;
        font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
        line-height: 40px;
    }
    
    /*! Socmed buttons
*/
    ul.social-buttons { 
        margin-bottom: 0;
    }

    ul.social-buttons li a {
        display: block;
        width: 40px;
        height: 40px;
        border-radius: 100%;
        font-size: 20px;
        line-height: 40px;
        outline: 0;
        background-color: #c0c0c0;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }
    
    header {
        margin-top: 70px;
    }

    .backservice {
        background: rgba(251, 192, 178, 1);
        padding-bottom: 300px;
        margin-top: 40px;
    }

    .logo-img {
        width: 40px;
        /* Adjust the width as needed */
        height: auto;
        /* Maintain aspect ratio */
        margin-right: 10px;
        /* Adjust spacing between image and text */
        border-radius: 20px;
        margin-top: -10px;
    }

    .btn-xl:hover {
  color: #000000;
  font-weight: bolder;
  /* Add any other styles you want for the hover effect */
    }

    .alert-success {
  color: #000000; /* Text color for success message (green) */
  background-color: #94e5a7; /* Background color for success message (green) */
  border-color: #c3e6cb; /* Border color for success message (green) */
}



</style>

<body id="page-top" class="index" data-pinterest-extension-installed="cr1.3.4">

    <!-- Preloader -->
    <div class="preloader">
        <div class="pet-loader">
            <div class="letter">P</div>
            <div class="letter">a</div>
            <div class="letter">w</div>
            <div class="letter">p</div>
            <div class="letter">a</div>
            <div class="letter">l</div>
        </div>
    </div>


        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-fixed-top navbar-shrink">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                        data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Insert the image tag here -->
                    <a class="navbar-brand page-scroll" href="#page-top" style="margin-left: 20px;">
                        <img src="../images/icon.jpg"
                             class="logo-img">Pawpal: Mission PAWSsible
                    </a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li class="hidden active">
                            <a href="#page-top"></a>
                        </li>
                        <li class="">
                            <a class="page-scroll" href="#services">Services</a>
                        </li>
                        <li class="">
                            <a class="page-scroll" href="#team">Team</a>
                        </li>
                        <li class="">
                            <a class="page-scroll" href="/login">Adopt Now!</a>
                        </li>
                    </ul>
                </div>

                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>

        <!-- Header -->
        <header style="margin-bottom: 10px;">
            <div class="intro-heading">Pawpal <br><span></span></div>
            <div class="intro-subheading">In partnership with Mission PAWSsible Organization</div>
            <div class="content">
                <div class="info">
                    <p>
                        "Discover the Heartwarming World of Pawpal: Where Every Pet's Journey Finds Home. Embark on a
                        transformative journey with our innovative pet adoption system. Whether you're seeking a loyal
                        companion through adoption, championing our rescue missions, providing a second chance through
                        surrender, or contributing to the cause with your generous donations, Pawpal is your gateway to
                        compassion and care. Join us in shaping brighter tomorrows for furry friends and experience the
                        profound joy of uniting souls through love."
                    </p>

                    <div class="intro-image">
                        <img src="../images/bg1.jpg" alt="Image"  >
                    </div>
                    
        </header>
        <div class="custom-container">
            <a href="#services" class="more-info"></a>
        </div>

        <!-- Services Section -->
        <section id="services" class="backservice" ">
            <div class="container">
                <div class="row">
                    <div class="col-lg-16 text-center">
                        <h2 class="section-heading">Organization Services</h2>
                        <h3 class="section-subheading text-muted">Welcome to our compassionate animal care services hub. From adoption and surrender assistance to dedicated rescue efforts, we are committed to fostering a world where every pet finds love, care, and a forever home.</h3>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="col-md-3">
                        <a href="/adopt">
                            <span class="icon-circle icon-lg">
                                <span class="fas fa-paw fa-lg"></span>
                            </span>
                            <h4 class="service-heading black-text">Adopt</h4>
                        </a>
                        <p class="text-muted">Discover your new furry companion through our adoption service.</p>
                    </div>
                    <div class="col-md-3">
                        <a href="/surrender">
                            <span class="icon-circle icon-lg">
                                <span class="fas fa-sign-out-alt fa-lg"></span>
                            </span>
                            <h4 class="service-heading black-text">Surrender</h4>
                        </a>
                        <p class="text-muted">Our surrender service provides a safe and compassionate environment for pets that need to find a new home.</p>
                    </div>
                    <div class="col-md-3">
                        <a href="/report">
                            <span class="icon-circle icon-lg">
                                <span class="fas fa-flag fa-lg"></span>
                            </span>
                            <h4 class="service-heading black-text">Rescue</h4>
                        </a>
                        <p class="text-muted">Every life matters. Our rescue service is dedicated to saving animals from challenging situations and providing them with a chance at a brighter future.</p>
                    </div>
                    <div class="col-md-3">
                        <a href="/donate">
                            <span class="icon-circle icon-lg">
                                <span class="fas fa-hand-holding-medical fa-lg"></span>
                            </span>
                            <h4 class="service-heading black-text">Donate</h4>
                        </a>
                        <p class="text-muted">Make a positive impact on animals' lives by donating to our rescue service. Your contribution helps us save animals from tough situations and give them a better future.</p>
                    </div>
                </div>
            </div>
        </section>
        


        <!-- Team Section -->
    
    <section id="team" class="bg-light-gray" style="background-color: white">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading" style="font-weight: bold;">Our Amazing Team</h2>
                        <h3 style="font-size: 18px; ">"At the heart of our mission to connect pets with their forever homes, we are an extraordinary team of web developers. We each bring our unique talents, unwavering passion, and boundless creativity to the table. Together, we are the driving force behind our pet adoption, surrendering, and rescuing website."</h3> <br>
                    </div>
                </div>
                <div class="row justify-content-center"><!-- Added justify-content-center class -->
                    <div class="col-sm-3"><!-- Adjusted column width -->
                        <div class="team-member">
                            <img src="../images/cha.jpg"
                                class="img-responsive img-circle" alt="">
                            <h4>Charlie Aniscal Arbol</h4>
                            <p class="text-muted">Lead Programmer</p>
                            <div class="cha">
                            <ul class="list-inline social-buttons">
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="https://www.facebook.com/tom.arbol16"><i class="fab fa-facebook-square"></i></a></li>
                                <li><a href="https://www.instagram.com/charlieaniscal_"><i class="fab fa-instagram"></i></a></li>
                        </div>
                        </div>
                    </div>
                    <div class="col-sm-3"><!-- Adjusted column width -->
                        <div class="team-member">
                           <img src="../images/jilu.jpg"
                                class="img-responsive img-circle" alt="">
                            <h4>Jelou Caguioa Ibañez</h4>
                            <p class="text-muted">Assistant Programmer</p>
                            <ul class="list-inline social-buttons">
                                <li><a href="https://twitter.com/JILUBNZ"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="https://www.facebook.com/Jiwooibanwez"><i class="fab fa-facebook-square"></i></a></li>
                                <li><a href="https://www.instagram.com/jeloucaguioa/"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3"><!-- Adjusted column width -->
                        <div class="team-member">
                            <img src="../images/ems.png"
                                class="img-responsive img-circle" alt="">
                            <h4>Emilie Mae Apuli</h4>
                            <p class="text-muted">Lead Designer</p>
                            <ul class="list-inline social-buttons">
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="https://www.facebook.com/emiliemae.apuli"><i class="fab fa-facebook-square"></i></a></li>
                                <li><a href="https://www.instagram.com/emlmapl/"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-3"><!-- Adjusted column width -->
                        <div class="team-member">
                            <img src="../images/mon.jpg"
                                class="img-responsive img-circle" alt="">
                            <h4>Mon Christian Morilla</h4>
                            <p class="text-muted">Lead Designer</p>
                            <ul class="list-inline social-buttons">
                                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li><a href="https://www.facebook.com/mon.ibarra13"><i class="fab fa-facebook-square"></i></a></li>
                                <li><a href="https://www.instagram.com/monmorilla/"><i class="fab fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 text-center">
                        <p class="large text-muted">At our core, we believe that every pet deserves a loving home. Join us in our mission to make a difference in the lives of these furry companions!</p>
                    </div>
                </div>
            </div>
        </section>
        <!-- Clients Aside -->


        

        <footer style="background-color: rgba(251, 192, 178, 1);">
            <div class="container">
                <div class="row">
                    <div class="col-md-4">
                        <span class="copyright">Capstone 2023, PAWpal</span>
                    </div>
                    <div class="col-md-4">
                        <ul class="list-inline social-buttons">
                                <li><a href="https://www.facebook.com/missionpawssibleph"><i class="fab fa-facebook-square"></i></a></li>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-4">
                        <ul class="list-inline quicklinks">
                            <li><a href="#" data-toggle="modal" data-target="#privacyModal">Privacy Policy</a>
                            </li>
                            <li><a href="#" data-toggle="modal" data-target="#termsModal">Terms of Use</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>

        <!-- Privacy Policy Modal -->
<div class="modal fade" id="privacyModal" tabindex="-1" role="dialog" aria-labelledby="privacyModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="privacyModalLabel">Privacy Policy</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <p><strong>This Privacy Policy governs the manner in which Mission PAWSsible collects, uses, maintains, and discloses information collected from users (referred to as "you" or "users") of the Mission PAWSsible website and associated services (referred to as "the site").</strong></p>
          
          <p><strong>Information Collection</strong></p>
          <p>We may collect personal identification information from users in a variety of ways, including but not limited to when users visit our site, register on the site, fill out a form, respond to a survey, and in connection with other activities, services, features, or resources we make available on our site. Users may be asked for, as appropriate, name, email address, mailing address, phone number, and other relevant information.</p>
          
          <p><strong>How We Protect Your Information</strong></p>
          <p>We adopt appropriate data collection, storage, and processing practices and security measures to protect against unauthorized access, alteration, disclosure, or destruction of your personal information, username, password, transaction information, and data stored on our site.</p>
          
          
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Terms of Use Modal -->
  <div class="modal fade" id="termsModal" tabindex="-1" role="dialog" aria-labelledby="termsModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="termsModalLabel">Terms of Use</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          
          
          <p><strong>Your Acceptance of These Terms</strong></p>
          <p>By using this site, you signify your acceptance of this policy. If you do not agree to this policy, please do not use our site. Your continued use of the site following the posting of changes to this policy will be deemed your acceptance of those changes.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  
  
  
       

    </body>
    
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>

    
    <script>


document.addEventListener("DOMContentLoaded", function () {
            // Simulate a 5-second loading time
            setTimeout(function () {
                // Add the zoom-out class after 5 seconds
                const petLoader = document.querySelector(".pet-loader");
                petLoader.classList.add("zoom-out");

                // Hide the preloader after the zoom-out animation completes
                petLoader.addEventListener("animationend", function () {
                    const preloader = document.querySelector(".preloader");
                    preloader.style.display = "none";
                }, { once: true }); // Use { once: true } to ensure the event listener runs only once
            }, 5000); // 5000 milliseconds = 5 seconds
        });
        
        $(document).ready(function () {
            let isSubmitting = false; // Flag to track form submission status
    
            // Listen for the form submission
            $('#contact-form').submit(function (event) {
                event.preventDefault(); // Prevent the default form submission
    
                if (isSubmitting) {
                    return; // Do nothing if the form is already being submitted
                }
    
                // Disable the submit button
                $('#submit-button').prop('disabled', true);
    
                // Serialize the form data into a JSON object
                const formData = $(this).serializeArray();
                const data = {};
                formData.forEach(item => {
                    data[item.name] = item.value;
                });
    
                // Send the AJAX POST request
                $.ajax({
                    
                    success: function (response) {
                        console.log('Contact submitted successfully');
    
                        // Display the success message
                        $('#success').text('Message sent!').addClass('alert alert-success').fadeIn();
    
                        // Re-enable the submit button after a successful submission
                        $('#submit-button').prop('disabled', false);
    
                        // Set the new location after successful submission
                        window.location.href = "/"; // Replace "/" with the URL of your main screen
                    },
                    error: function (error) {
                        console.error('Error submitting contact:', error);
                        // Handle error (e.g., display an error message)
    
                        // Re-enable the submit button after an error
                        $('#submit-button').prop('disabled', false);
                    },
                    complete: function () {
                        isSubmitting = false; // Reset the submission flag
                    }
                });
    
                isSubmitting = true; // Set the submission flag
            });
        });

        
    </script>
    
    

</body>

</html>